{% load static  %}
<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylee.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
  <style type="text/css">
    input{
      color: red;

    }
  </style>
</head>
<body class = "container-fluid">
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark mt-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'blogapp:home' %}"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blogapp:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:about' %}">About</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:login' %}">Login</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:register' %}">Register</a>
      </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:studentlist' %}">Student List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:bloglist' %}">Blog List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogapp:booklist' %}">Book List</a>
      </li>
      
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <form id="searchform" class="form-inline my-2 my-lg-0" method="GET" action="{% url 'blogapp:searchresult' %}">

      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>
  </div>
</div>

{% block content %}

{% endblock %}


<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}">
</script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}">
</script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );</script>

</body>


</html>