{% load static  %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylee.css' %}">
</head>
<body>

<div class="sidenav">
  <a href="{% url 'blogapp:home' %}">Home</a>
    <a href="{% url 'blogapp:about' %}">About</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<div class="main">
  <h2>Sidebar</h2>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Scroll down the page to see the result.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no </p>
</div>
   
</body>
</html> 
